<section id="services">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Nous possédons l'expertise dont vous avez besoin</h2>
                <hr class="primary">
                <p class="text-muted">Pour être en conformité en matière de protection des données personnelles. Laissez-nous vous aider&nbsp;a&nbsp;:</p>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
              <!-- <a href="{{ site.services_url }}/assess-readiness"> -->
                       <i class="fa fa-4x fa-search-plus wow bounceIn"></i>
                    </a>
                    <h3>Diagnostic</h3>
                    <p class="text-muted">Proposer des politiques de confidentialité adaptés à vos objectifs.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
              <!-- <a href="{{ site.services_url }}/enhance-value"> -->
                       <i class="fa fa-4x fa-check-circle wow bounceIn" data-wow-delay=".2s"></i>
                    </a>
                    <h3>Solutions</h3>
                    <p class="text-muted">Mettre en œuvre votre conformité en gestion de la vie privée.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
              <!-- <a href="{{ site.services_url }}/train-people"> -->
                       <i class="fa fa-4x fa-user wow bounceIn" data-wow-delay=".4s"></i>
                    </a>
                    <h3>Formation</h3>
                    <p class="text-muted">Guider vos employés en matière de conformité, confidentialité et sécurité.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
              <!-- <a href="{{ site.services_url }}/ensure-continuity"> -->
                       <i class="fa fa-4x fa-cogs wow bounceIn" data-wow-delay=".6s"></i>
                    </a>
                    <h3>Accompagnement</h3>
                    <p class="text-muted">Gérez vos programmes de données personnelles et la gestion d’incidents.</p>
                </div>
            </div>
        </div>
    </div>
</section>
